*{
font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;
}

header{
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
	width: 100%;
	z-index: 2;
}

header img{
	float: left;
	padding-left: 10px;
	height: 50px;
}

nav span{
	text-decoration: underline;
	float: right;
	padding: 20px 10px;
}

#main-background{
	height: 700px;
	z-index: 1;
	position: relative;
	top: 69px;
}