*{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}

body{
	background-color: black;
}

header{
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
	width: 100%;
	z-index: 2;
}

header img{
	position: relative;
	float: left;
	padding-left: 10px;
	height: 50px;
}

nav span{
	text-decoration: underline;
	float: right;
	padding: 20px 20px;
}

.mission_statement{
	display: flex;
	flex-direction: column;
	width: 1200px;
	position: relative;
	bottom: 350px;
	z-index: 2;
	opacity: 1;
	background-color: black;
}

.mission_statement h2{
	padding-left: 110px;
	margin: 0;
	font-size: 34px;
}

.mission_statement h4{
	padding-left: 110px;
}

.menu{
	width: 1000px;
	text-align: center;
	padding-left: 150px;
}

.menu img{
	height:200px;
	width: 300px;
	padding: 10px;
}

.menu div{
	margin: 0 auto;
}

.main_content{
	margin: 0 auto;
}

.location {
	background-image: url("./images/locations.jpg");
	display: flex;
	height: 500px;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.location div{
	background-color: black;
	opacity: 1;
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 100px;
	margin: 40px;
	justify-content: space-around;
}

.images{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
}

#small_header{
	font-size: 30px;
	font-weight: bold;
}

#main-background{
	height: 700px;
	z-index: 1;
	position: relative;
	top: 69px;
}

#large-text{
	font-size: 34px;
}

#header{
	font-size: 34px;
	font-weight: bold;
	opacity: 1;
}